.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topnav{
  margin-bottom: 80px;
  font-size: 30px;
  background-color: teal;
  color: aliceblue;
}

button {
  background-color: #282c34;
  color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 15px;
}

button:hover{
  background-color: antiquewhite;
  color: #282c34;
}

textarea{
  width: 400px;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

hr{
  width: 70%;
}

input{
  border-radius: 5px;
  height: 30px;
  padding: 3px 0px;
  text-align: center;
  font-size: 19px;
}

.animate{
  animation: text 2s infinite;
  text-transform: capitalize;
}

@keyframes text {
  0%{
      color: #EA4335;
      /* transform: translateX(1px) */
  }
  33%{
      color: #4285f4;
  }
  66%{
      color: #34A853;
  }
  100%{
      color: #ad850c;
  }
}